body {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	background-color: silver;
}
h1 {
	font-size: 28px;
}
.dos-window {
	background-color: white;
	display: inline-block;
	margin: 4px;
	border: 2px solid black;
	border-radius: 12px;
	width: 100%;
	max-width: 1024px;
	font-size: 12pt;
	overflow: hidden;
}
.dos-window h2 {
	margin: 0;
	padding: 4px 8px;
	font-size: 12pt;
	background-color: navy;
	color: white;
}
.dos-window h2 a:link,
.dos-window h2 a:visited {
	color: silver;
}
.dos-window p, .dos-window img, .dos-window pre {
	margin: 12px;
}
.mainmenu {
	line-height: 40px;
}
.mainmenu > ul {
	display: block;
	padding-left: 10px;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 1024px;
}
.mainmenu > ul > li  {
	display: inline;
	white-space: nowrap;
}
.mainmenu > ul > li > a {
	padding: 2px 8px;
	border: 2px solid black;
	border-left: 0;
	background-color: white;
	color: navy;
	text-decoration: none;
}
.mainmenu > ul > li > a.start {
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	border-left: 2px solid black;
}
.mainmenu > ul > li > a.end {
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	margin-right: 16px;
}
.mainmenu > ul > li > a:hover, .mainmenu > ul > li > a.active {
	background-color: navy;
	color: white;
}
#supportedDistroTable td {
	vertical-align: top;
}
.rightbar {
    width: 160px;
    margin-top: 20px;
}
@media screen and (min-width: 1280px) {
    .rightbar {
        position: absolute;
        left: 1056px;
        top: 100px;
    }
}
.flagcounter {
    text-align: center;
    margin-top: 20px;
}
@media screen and (min-width: 1280px) {
    .flagcounter {
        position: absolute;
        left: 1056px;
        top: 100px;
    }
}
